/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

 .no-bullets-ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 .centerilized {
     text-align: center;
 }

 .centerilized-box {
     text-align: center;
     border: 1px solid black;
     background: #F7F7F7;
     width: 40%;
     padding: 10px;
     margin: 0 auto;
 }

 .bordered-box {
     border: 1px solid black;
 }

 .movable {
     cursor: move;
     &:hover { border: rgb(40, 167, 45) dashed 2px; }
 }

.toolbox-panel {
    position: fixed;
    left: 85%;
    width: 15%;
    top: 40px;
    height: 100%;
    padding: 10px;
    background-color: rgb(226, 220, 220);
    text-align: center;
}

.quiz-item-inner {
    top: 50%;
    background-color: rgba(0, 255, 0, 0.22);
    padding: 5px;
    margin: 5px;
    border: rgb(40, 167, 45) solid 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    display: inline-block;
    vertical-align: middle;
  /*width: 300px;
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;*/
}

.quiz-item-container {
    text-align: center;
}

.quiz-item-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */

  /* For visualization
  background: #808080; width: 5px;
  */
 }

.block-flow {
    display: block !important;
}

