.question-played {
    background-color: white;
}

.question-not-played {
    background-color: rgba(70, 245, 37, 0.34);
}

.quiz-table-question {
    font-size: 20px;
}

.group-in-turn {
    font-weight: bold;
}

