// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#toggle-timer-button {
    cursor: pointer;
}

.group-in-turn {
    color: white;
    background-color: green;
}

.game-question-points {
    size: 20px;
}

#timer {
    font-size: 20px;
    margin: 5px;
}

.timer-no-time-alert {
    color: red;
    font-size: 25px !important;
}

#group-points {
    font-size: 20px;
    font-weight: bold;
}

.gray-bordered-box {
    background-color: rgba(137, 230, 137, 0.22);
    padding: 5px;
    margin: 5px;
    border: #568358 solid 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#game-question-img-container {
    height: 500px;
    width: 85%;
    border: black dashed 2px;
}

.question-display {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(229, 250, 225);
    width: 85%;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

