// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #draggable { width: 150px; height: 150px; padding: 0.5em; }

#question-img-container {
    width: 85%;
    height: 100%;
    border-style: dashed;
    border-width: 0.2em;
}

.question-image {
    height: 100%;
    z-index: 2;
}

#question-text-area {
    width: 40%;
}

.delete-image-btn {
    position: relative;
    display: inline;
    top: -20em;
    right: 15px;
    z-index: 1;
}

