// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quiz-table-category-header {
    text-size: 20px;
  }

  .quiz-table-category-column {
    float: left;
    width: 20%;
    text-align: center;
  }

  .quiz-table-question {
    margin: 5px;
    padding: 5px;
    height: 70px;
  }

  .quiz-table-add-question {
    margin: 5px;
    border: 1.5px dashed black;
    background: #78FF52;
    border-radius: 15px;
    -moz-border-radius: 15px;
  }

