var quiz_table_category_column = $("<div />", {
    "class": "quiz-table-category-column"
});
var quiz_table_category_header = $("<div />", {
    "class": "quiz-table-category-header"
});
quiz_table_category_header.append("<h3><%= @category.name %></h3>");
quiz_table_category_column.append(quiz_table_category_header);
quiz_table_category_column.append('+ Add question');

$('#quiz-table').append(quiz_table_category_column);

